/* Carousel Container */
.carousel {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

/* Each carousel item */
.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%; /* Ensures full height */
  opacity: 0; /* Initially, items are invisible */
  transition: opacity 3s ease-in-out, transform 10s ease-in-out; /* Smooth fade and zoom */
}

/* Overlay text styles */
.overlay {
  position: absolute;
  bottom: 30%; /* Distance from the top */
  right: 15%; /* Position overlay on the right side */
  top: auto;
  left: auto;
  text-align: justify;
  padding: unset;
  width: 400px;
  font-size: 16px;
  font-family: serif;
  font-style: italic;
  color: #fff;
}

/* ICON SCROLL */
.icon-scroll {
  position: absolute; /* Fixed relative to the carousel container */
  bottom: 30px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to perfectly center */
  display: block;
  width: 23px;
  height: 38px;
  box-shadow: inset 0 0 0 2px #fff;
  opacity: 0.6;
  border-radius: 25px;
  z-index: 10; /* Ensure it is above other elements */
}

.icon-scroll:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 50%;
  width: 4px;
  height: 6px;
  background: #fff;
  margin-left: -2px; /* Center the inner dot */
  border-radius: 4px;
  animation: scroll 1.5s infinite;
}

/* Bounce Animation */
@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
