$white: #fff;
$black: #000;
$gray-black: #222222;
$gray: #f2f2f2;
$graybg: #f7f7f7;
$grayfoot: #a1a1a1;
$red: #c8362e;
$dark-red:#5c1915;


@mixin transition {
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin filter($filter) {
  -webkit-filter: grayscale($filter);
  -moz-filter: grayscale($filter);
  -ms-filter: grayscale($filter);
  -o-filter: grayscale($filter);
  filter: grayscale($filter);
}

a:hover,
a:link,
a:visited {
  text-decoration: none;
}

#content {
  background: $graybg;
  padding-bottom: 80px;
}

#content.index {
  padding-bottom: 0;
}

#menu {
  height: 108px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  width: 100%;
  line-height: 60px;
  text-transform: uppercase;

  ul li {
    margin-right: 0px !important;
    position: relative;

    a {
      padding: 24px 11px;
      display: block;
      color: $gray-black;
      @include transition;
    }

    a:hover {
      background-color: rgba(34, 34, 34, 0.22);
    }

    ul {
      opacity: 0;
      z-index: -1;
      @include transition;
      display: initial;
      width: 200px;

      li {
        width: 100%;

        a {
          color: $white;
          text-transform: initial;
          font-size: 14px;
          padding: 10px 15px;
          display: block;
          @include transition;
          white-space: normal;
        }
      }
    }
  }

  li:hover {
    a {
      color: $white;
      background-color: #47484a;
    }

    ul {
      display: block;
      opacity: 1;
      position: absolute;
      background: #47484a;
      z-index: 9;
    }

    li a:hover {
      background-color: #6f6f6f;
    }

    a.active {
      background-color: #6f6f6f;
    }
  }

  .lang-main ul {
    display: initial;
    padding: 0px;
    right: 0px;
    width: 200px;
    @include transition;
    left: -48px;
    margin: 0px !important;

    .flag {
      width: 25px;
      height: 25px;
      background-size: cover;
      display: inline-block;
      float: left;
      margin-right: 10px;
    }

    .flag.en {
      background-image: url(../images/flag/english.png);
    }

    .flag.mn {
      background-image: url(../images/flag/mongolia.png);
    }

    .flag.kr {
      background-image: url(../images/flag/korean.png);
    }

    .flag.ru {
      background-image: url(../images/flag/russia.png);
    }

    .flag.ch {
      background-image: url(../images/flag/china.png);
    }

    .flag.gr {
      background-image: url(../images/flag/german.png);
    }

    .name {
      float: left;
      line-height: 24px;
    }

    a {
      padding: 8px 10px;
      line-height: 12px;
      overflow: hidden;
      display: block;
    }
  }

  .lang-main:hover ul {
    display: block;
    position: absolute;
    background: #47484a;
    z-index: 9;

    li {
      display: block;
      float: left;
      width: 100%;

      a {
        color: #fff;

      }

      a:hover,
      a.active {
        background-color: #6f6f6f;
      }
    }
  }

  .lang-main:hover ul::before {
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid #47484a;
    width: 10px;
    top: -5px;
    left: 90px;
  }

  #langbar {
    margin-left: 10px;
    text-transform: capitalize;
    position: relative;

    ul {
      right: 0px;
    }
  }
}

.logo {
  padding: 22px 0px;
}

.home-top {
  background: #232323;
  padding: 15px 0px;
  -webkit-transition: all 0.5s ease 0.5s;
  -moz-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
  height: 94px;

  .social-right {
    -webkit-transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s;

    .social-icon-home {
      background: #fff;
      border-radius: 44px;
      margin: 0px 6px;
      overflow: hidden;
      float: left;

      a {
        display: block;
        color: #222222;
      }

      a.fa-facebook {
        padding: 8px 11px
      }

      a.fa-twitter {
        padding: 8px 9px;
      }

    }

    .fa {
      color: #fff;
      padding: 0px 10px;
      -webkit-transition: all 0.5s ease 0.5s;
      -moz-transition: all 0.5s ease 0.5s;
      -o-transition: all 0.5s ease 0.5s;
      transition: all 0.5s ease 0.5s;
    }

    .lang-main {
      float: right;
      position: relative;
      padding-bottom: 9px;

      a {
        color: #fff;
        padding: 0px 10px;
      }

      .lang {
        -webkit-transition: all 0.5s ease 0.5s;
        -moz-transition: all 0.5s ease 0.5s;
        -o-transition: all 0.5s ease 0.5s;
        transition: all 0.5s ease 0.5s;
      }
    }

    .lang-main ul {
      opacity: 0;
      z-index: -1;
      padding: 0px;
      right: 0px;
      @include transition;
      left: -48px;
      margin: 0px !important;
      display: initial;

      .flag {
        width: 25px;
        height: 25px;
        background-size: cover;
        display: inline-block;
        float: left;
        margin-right: 10px;
      }

      .flag.en {
        background-image: url(../images/flag/english.png);
      }

      .flag.mn {
        background-image: url(../images/flag/mongolia.png);
      }

      .flag.kr {
        background-image: url(../images/flag/korean.png);
      }

      .flag.ru {
        background-image: url(../images/flag/russia.png);
      }

      .flag.ch {
        background-image: url(../images/flag/china.png);
      }

      .flag.gr {
        background-image: url(../images/flag/german.png);
      }

      .name {
        float: left;
        line-height: 24px;
        color: #fff;
      }

      a {
        padding: 8px 10px;
        color: #fff;
        line-height: 12px;
        overflow: hidden;
        display: block;
      }
    }

    .lang-main:hover ul {
      display: block;
      opacity: 1;
      position: absolute;
      width: 200px;
      background: #47484a;
      z-index: 9;

      li {
        display: block;
        float: left;
        width: 100%;

        a:hover,
        a.active {
          background-color: #6f6f6f;
        }
      }
    }

    .lang-main:hover ul::before {
      content: "";
      position: absolute;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 0px solid transparent;
      border-bottom: 5px solid #47484a;
      width: 10px;
      top: -5px;
      left: 90px;
    }

    .text {
      padding-top: 45px;
      color: #fff;
      font-weight: bold;
      font-size: 15px;
      -webkit-transition: all 0.5s ease 0.5s;
      -moz-transition: all 0.5s ease 0.5s;
      -o-transition: all 0.5s ease 0.5s;
      transition: all 0.5s ease 0.5s;
    }
  }

  .top-logo {
    background-image: url(../images/logo-white.png);
    -webkit-transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s;
    position: absolute;
    width: 195px;
    height: 64px;
    background-repeat: no-repeat;
  }
}

.home-top:hover {
  background-color: #fff;

  .top-logo {
    background-image: url(../images/logo.png);
  }

  .social-right .text,
  .social-right .lang-main a {
    color: #232323;
  }

  .social-icon-home {
    a {
      color: #fff;
    }

    a.fa-facebook {
      background: #3b5998 !important;
    }

    a.fa-twitter {
      background: #00aced !important;
    }
  }
}

.slider-text {
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 2;

  .desc {
    margin: 0px auto;
    text-align: start;
    font-size: 50px;
    font-weight: 600;
    color: #0016ee;
    text-shadow: 1px 0px 4px #868686;

    .red {
      color: red;
    }
  }
}

.home-slider {
  position: relative;
  overflow: hidden;

  .item {
    overflow: hidden;
    height: 450px;
    background-position: center;
    background-size: cover;
  }

  .customNavigation {
    position: absolute;
    bottom: 0px;
  }

  .owl-controls {
    position: absolute;
    width: 100%;
    top: 50%;

    .owl-prev {
      float: left;
      margin-left: 20px;
    }

    .owl-next {
      float: right;
      margin-right: 20px;
    }
  }

  // .slider-mask{
  //   position: absolute;
  //   top: 0px;
  //   height: 100%;
  //   width: 100%;
  //   background-image: url(../images/cover-bg.png);
  //   background-position: center;
  //   background-size: cover;
  // }
  #bar {
    width: 0%;
    max-width: 100%;
    height: 1px;
    background: #0016ee;
  }

  #progressBar {
    width: 100%;
    background: transparent;
    position: absolute;
  }

  #owl-demo .item img {
    display: block;
    height: 100%;
    height: auto;
  }
}

.social-icon {
  background: $white;
  border-radius: 44px;
  margin: 37px 6px;
  overflow: hidden;

  .fa-facebook {
    padding: 10px 13px !important;
  }

  .fa-twitter {
    padding: 10px 11px !important;
  }
}

.social-icon .fa-facebook:hover {
  background-color: #2d4f96 !important;
  color: $white !important;
}

.social-icon .fa-twitter:hover {
  background-color: #55acee !important;
  color: $white !important;
}

.home-menu {
  background-color: #010101;
  height: 41px;

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px auto;
    display: table;
    @include transition;

    li {
      // float: left;
      display: inline-block;
      position: relative;

      a {
        color: #1b2a5b;
        font-size: 17px;
        padding: 10px 24px;
        display: block;
        @include transition;
      }

      ul {
        opacity: 0;
        z-index: -2;
        @include transition;

        li {
          width: 100%;
        }
      }

      ul::before {
        content: "";
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 0px solid transparent;
        border-bottom: 5px solid #47484a;
        width: 10px;
        top: -5px;
        left: 90px;
        z-index: 5;
      }
    }

    li:hover {
      a {
        background-color: #47484a;
      }

      ul {
        display: block;
        position: absolute;
        width: 200px;
        background: #47484a;
        z-index: 9;
        left: -43px;
        opacity: 1;
      }

      li a:hover {
        background-color: #6f6f6f;
        color: $white;
      }

      a.active {
        background-color: #6f6f6f;
      }
    }
  }
}

.rotate-box-bg {
  background-color: #f0f0f0;
  padding: 110px 0px;

  .rotate-box-main {
    margin: 0px auto;

    .original {
      float: left;
      margin: 0px 40px;
    }

    @include transition;

    .spin {
      height: 150px;
      line-height: 95px;
      text-align: center;
      width: 150px;
      overflow: hidden;
      // transform-style: preserve-3d;
      transition: all 1.0s linear;
      transform: rotate(-45deg);
      position: relative;
      z-index: 1;

      a {
        color: #fff;
      }

      .box {
        transform: rotate(45deg);
        position: relative;

        img {
          width: 215px;
          position: relative;
          top: -25px;
          left: -56px;
          @include transition;
        }
      }

      span {
        position: absolute;
        top: 56px;
        left: 14px;
        line-height: 20px;
        transform: rotate(45deg);
        z-index: 1;
        width: 120px;
        @include transition;
      }

      .opacity {
        position: absolute;
        z-index: 1;
        background: rgba(13, 0, 41, 0.39);
        width: 100%;
        height: 100%;
        top: 0px;
        @include transition;
      }
    }
  }

  .original .spin:hover {
    -webkit-transform: scale(1.05) rotate(-45deg);
    transform: scale(1.05) rotate(-45deg);
    box-shadow: 1.5px 2px 0px 1px rgba(0, 0, 0, 0.6);

    a {
      color: #000 !important;
    }

    .opacity {
      background: rgba(255, 255, 255, 0.6)
    }
  }

  .rotate-box-1 {
    display: -webkit-box;
    margin: 0px auto;
    width: 690px;
  }

  .rotate-box-2 {
    display: -webkit-box;
    margin: -32px auto;
    width: 920px;
  }

  .rotate-box-3 {
    display: -webkit-box;
    margin: 0px auto;
    width: 690px;
  }
}

.home-about {
  background-color: $white;

  .image {
    position: relative;
    height: 450px;
    overflow: hidden;

    img {
      height: 100%;
      position: absolute;
      right: 0px;
    }
  }

  .text {
    padding: 60px 0px 30px 56px;

    h2 {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0px 0px 30px;
      font-size: 20px;
      color: $black;
    }

    .desc {
      line-height: 26px;
      text-align: justify;
    }
  }
}

.head-img {
  height: 150px;
  overflow: hidden;
  position: relative;
  color: $white;
  background-color: $black;
  width: 100%;
  top: -5px;

  img {
    width: 100%;
    opacity: 0.5;
  }

  .head-title {
    position: absolute;
    top: 20px;
    line-height: 33px;

    h2 {
      font-weight: bold;
      font-size: 25px;
      color: $white;
    }

    a {
      color: $white;
      padding: 0px;
    }

    a:nth-child(1) {
      padding-left: 0px !important;
    }
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.4);
  color: $white;
  position: absolute;
  bottom: 0;
  width: 100%;

  .footer-about {
    // padding: 60px 0px;
    padding: 20px 0px;
    position: relative;

    .logo {
      background: url("../images/logo-white copy.png");
      width: 360px;
      height: 79px;
      background-repeat: no-repeat;
      margin: 0px;
    }

    .desc {
      margin: 40px 0px;
      line-height: 28px;
    }

    .social {
      a {
        padding: 13px;
        width: 40px;
        height: 40px;
        text-align: center;
        color: $white;
        float: left;
        @include transition;
      }

      a:hover {
        opacity: 0.6;
      }

      .fa-facebook {
        background-color: #2d4f96;
      }

      .fa-twitter {
        background-color: #55acee;
      }

      .fa-google-plus {
        background-color: #dd4b39;
      }
    }

    h2 {
      margin: 10px 0px 20px;
      font-size: 17px;
      font-weight: bold;
      color: $white;
    }

    .footer-news {
      overflow: hidden;
      margin-bottom: 40px;

      .img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
        float: left;
        overflow: hidden;

        img {
          height: 100%;
        }
      }

      .desc {
        margin: 0px;
        font-weight: bold;
        color: #fff;
      }

      .date {
        color: #777777;
        font-size: 12px;
        margin-top: 6px;

        i {
          margin-right: 10px;
        }
      }
    }

    .footer-map-bg {
      color: #777777;
      background-image: url(../images/world-map.png);
      background-repeat: no-repeat;
      height: 230px;
      margin-top: 70px;
    }

    .footer-contact {
      i {
        font-size: 20px;
        margin-right: 10px;
        float: left;
        width: 25px;
        text-align: center;
        margin-top: 4px;
      }

      .desc {
        margin: 0px;
        display: flex;
      }

      .list {
        overflow: hidden;
        // margin-bottom: 22px;
      }
    }
  }

  .copyright {
    // background: #000;
    padding: 25px 0px;
    color: #fff;
  }

  .question {
    position: absolute;
    top: -27px;
    right: 50px;
    background-color: #3444e1;
    padding: 10px 20px;
    @include border-radius(40px);
    font-size: 24px;

    i {
      text-shadow: 3px 5px 11px $black;
    }
  }
}

// News
.news-list-main {
  margin: 70px 0px;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.home-box {
  background-color: $graybg;
  border: 1px solid transparent;
  @include transition;

  .img {
    height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      @include transition;
    }
  }

  .text {
    // height: 300px;
    background-color: $white;
    padding: 36px;
    color: $black;
    position: relative;
    overflow: hidden;
    @include transition;

    .title {
      font-size: 16px;
      font-weight: bold;
      margin: 0px;
      color: $black;
      line-height: 26px;
    }

    .date {
      padding: 13px 0px;
      font-size: 13px;
      color: #c6c6c6;
      float: none;
      font-style: italic;

      i {
        margin-right: 10px;
      }
    }

    .desc {
      line-height: 30px;
    }

    .arrow {
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }

    .arrow.top {
      position: absolute;
      top: -10px;
      display: block;
      left: 130px;
      border-bottom: 10px solid $red;
    }

    .arrow.bottom {
      position: absolute;
      bottom: -10px;
      display: block;
      left: 130px;
      border-top: 10px solid $red;
    }
  }
}

.home-box:hover {
  border: 1px solid #F44336;

  .text {
    background-color: $gray;
  }

  img {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}

.modal-dialog {
  top: 100px;

  button {
    position: absolute;
    top: 8px;
    font-size: 24px;
    right: 15px;
    z-index: 9001;
  }

  .modal-body {
    padding: 40px 30px;

    img {
      max-width: 100%;
    }

    h2 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 26px;
      margin: 0px 0px 30px;
    }
  }
}

.news-list {
  display: inline-block;
  width: 100%;

  .other {
    margin: 25px 0px;

    a {
      width: 100%;
      border: 1px solid #d2d2d2;
      background-color: $white;
      overflow: hidden;
      position: relative;
      @include transition;

    }

    .more {
      display: none;
      @include transition;
    }

    .hover-bg {
      @include transition;
    }

    img {
      width: 100%;
      margin: 0px;
      padding: 10px 40px;
      @include filter(1);
      @include transition;
    }

    a:hover {
      // color: #fff;
      // background-color: #e8e8e8;

      img {
        @include filter(0);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
      }
    }

    .img {
      overflow: hidden;
      height: 150px;
    }

    .desc {
      margin-top: 0px;
      padding: 12px 10px;
      text-align: center;
      height: 65px;
      color: #000;
      font-size: 14px;
    }

  }
}

.service-list {
  img {
    padding: 0px !important;
  }

  .desc {
    padding: 12px 18px;
  }
}

.btn-more {
  color: #fff;
  background-color: #ee4444;
  border-color: #ee4444;
  // position: absolute;
  // bottom: 30px;
  border-radius: 0px;
  padding: 8px 20px;
  @include transition;
}

.btn-more {
  color: #23346b;
  background: transparent;
  border: 0;
}

// team

.element {
  margin: 10px 0px 30px 0;

  .team-member-img {
    height: 260px;
    overflow: hidden;
    position: relative;

    @include transition;

    img {
      // height: 100%;
    }

    .team-member-text {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 40px 20px;
      line-height: 24px;
      overflow-y: auto;
      opacity: 0;
      @include transition;
    }
  }

  .team-member-img:hover {
    .team-member-text {
      opacity: 1;
    }
  }

  .team-member-description {
    padding: 23px 22px;
    color: #8c8c8c;
    // background-color: $white;
    border-top: 1px solid #f0f0f0;

    .name {
      font-size: 16px;
      color: $black;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 2px solid #cd232d;
      margin-bottom: 10px;

      a {
        color: #1b2a5b;
      }
    }

    .degree {
      // font-style: italic;
      color: #1f1f1f;
    }

    .mail {
      span {
        display: block !important;
      }
    }

    .phone,
    .mail {
      color: $black;

      span {
        width: 32%;
        display: inline-block;
        font-weight: bold;
        color: #8c8c8c;
      }
    }

    .social {
      display: inline-block;
      margin-top: 23px;

      a {
        padding: 13px;
        width: 40px;
        height: 40px;
        text-align: center;
        color: $white;
        float: left;
      }

      .fa-facebook {
        background-color: #2d4f96;
      }

      .fa-twitter {
        background-color: #55acee;
      }
    }
  }
}

/* page contact */

#mapid {
  height: 410px;
}

.contact form h3 {
  margin: 42px 0px;
  font-weight: bold;
  color: #000;
  font-size: 22px;
}

.contact label,
.contact input {
  display: block;

}

.contact input {
  height: 56px;
  margin-bottom: 31px;
  padding: 0 15px;
  display: block;
  width: 300px;
  margin-right: 31px;
  float: left;
  background: #f1f1f1;
  border: none;
}

.contact textarea {
  height: 190px;
  padding: 20px;
  color: #9B9696;
  display: block;
  width: 100%;
  border: none;
  background: #f1f1f1;
  max-width: 630px;
}

.contact select {
  display: block;
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  background-color: #fff;
  color: #999;
}

.contact button {
  background: #d31f2a;
  padding: 10px 35px;
  border: #f34651 solid 1px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
}

.contact button:hover {
  color: $white;
  background-color: #ff7272;
}

.contact .address {
  margin-top: 106px;

  i {
    font-size: 24px;
    margin-right: 40px;
    float: left;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 47px;
    @include border-radius(30px);
    background-color: #23346b;
    color: #fff;
  }

  .desc {
    margin: 0px;
    display: table;

    b {
      text-transform: uppercase;
      display: block;
      margin-bottom: 6px;
    }
  }

  .list {
    overflow: hidden;
    margin-bottom: 22px;
  }
}

/*  File */
.file-head-img {
  height: 350px;

  .head-title {
    text-align: center;
    width: 88%;
    top: 85px;
  }

  .search {
    margin-top: 54px;

    i {
      margin-right: 5px;
    }

    input {
      width: 450px;
      height: 55px;
      background: rgba(255, 255, 255, 0.35);
      border: 1px solid #fff;
      padding: 10px 15px;
      margin-right: 16px;
    }

    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff;
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
    }

    :-ms-input-placeholder {
      /* IE 10+ */
      color: #fff;
    }

    :-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
    }

    button {
      width: 180px;
      height: 55px;
      background-color: #ee4444;
      border: none;
      text-transform: uppercase;
    }
  }

}

.file-about {
  margin-bottom: 68px;
  line-height: 27px;
  text-align: center;
}


.file {
  background-color: $white;

  .result {
    padding: 10px;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      overflow: hidden;
      border-bottom: 1px solid #f7f7f7;

      .count {
        padding: 55px;
        font-size: 58px;
        text-align: center;
        float: left;
        color: #e3e3e3;
        width: 15%;
      }

      .desc {
        padding: 67px 0px;
        float: left;
        width: 70%;

        .title {
          font-weight: bold;
          margin-bottom: 8px;
          font-size: 20px;
        }

        .category {
          color: #616161;
        }
      }

      .download {
        padding: 70px 60px;
        float: right;
        font-size: 25px;
        width: 15%;
        border-left: 1px solid #f7f7f7;

        .fa {
          background: #f1f1f1;
          padding: 13px 14px;
          border-radius: 28px;
          color: #414141
        }
      }
    }
  }
}


/* Timeline */

.dash-menu {
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0;
  // background: rgba(255, 255, 255, 0.6);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+39&0+0,1+72 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.54) 39%, rgba(255, 255, 255, 1) 72%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.54) 39%, rgba(255, 255, 255, 1) 72%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.54) 39%, rgba(255, 255, 255, 1) 72%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */

}

.dash-menu li {
  border-bottom: 1px solid #e0e0e0;
  // background: #212121;
}

.dash-menu li:last-child {
  border-bottom: 0;
}

.dash-menu li a {
  display: block;
  color: #353535;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0px 10px 20px;
  @include transition;
}

.dash-menu li:hover>a,
.dash-menu li.active>a {
  // background: #d41f2b;
  color: #d41f2b;
}

.dash-menu li a i {
  margin-right: 15px;
  line-height: 23px;
}

.cbp_tmtimeline {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
}

/* The line */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #d9d9d9;
  left: 20%;
  margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline>li {
  position: relative;
}

.cbp_tmtimeline>li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.cbp_tmtimeline>li .cbp_tmtime span {
  display: block;
  text-align: right;
  color: #000;
  font-weight: bold;
  font-size: 17px;
  margin-top: -3px;
}

/* Right content */
.cbp_tmtimeline>li .cbp_tmlabel {
  margin: 0 0 30px 25%;
  line-height: 1.4;
  position: relative;
}

.cbp_tmtimeline>li .cbp_tmlabel h2 {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  margin: 0px 0px 18px;
}

/* The icons */
.cbp_tmtimeline>li .cbp_tmicon {
  width: 15px;
  height: 15px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #fff;
  border: 2px solid #ee4444;
  border-radius: 50%;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -17px;
}

.cbp_tmtimeline>li:first-child .cbp_tmicon {
  background-color: #ee4444;
  border: 2px solid #ee4444;
}

@media screen and (max-width: 47.2em) {
  .cbp_tmtimeline:before {
    display: none;
  }

  .cbp_tmtimeline>li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  .cbp_tmtimeline>li .cbp_tmtime span {
    text-align: left;
  }

  .cbp_tmtimeline>li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }


  .cbp_tmtimeline>li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }
}


/* Service */
.service-bg {
  background-color: $white;
}

.service-about {
  margin: 70px 0px;

  ul {
    overflow: hidden;
  }

  .title {
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }
}

#owl-work .item {
  margin: 15px 0px;
  min-height: 260px;
  border: 1px solid #d2d2d2;
  padding: 25px 10px;
  text-align: center;
  @include transition;

  a {
    float: none;
  }

  h2 {
    font-size: 15px;
    margin: 0px;
    font-weight: 400;
    color: #1b2a5b;
    text-transform: uppercase;
  }


  .line {
    width: 40px;
    height: 3px;
    background-color: #ee4444;
    display: block;
    margin: 15px auto;
  }

  .desc {
    margin: 0px 10px;
    line-height: 24px;
    color: $gray-black;
  }
}

#owl-work .item:hover {
  background-color: #d2d2d2;
}